<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block101.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>block102.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,67},{300,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,60}}</string>
                <key>sourceSize</key>
                <string>{300,60}</string>
            </dict>
            <key>block103.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,3},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>block104.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,255},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,180}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>block105.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,255},{60,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,300}}</string>
                <key>sourceSize</key>
                <string>{60,300}</string>
            </dict>
            <key>block106.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,131},{900,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,120}}</string>
                <key>sourceSize</key>
                <string>{900,120}</string>
            </dict>
            <key>block107.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,255},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>block108.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,255},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>block109.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,255},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>block110.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>block201.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,3},{128,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>block202.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,3},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>block301.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>block302.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>block303.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,255},{60,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,300}}</string>
                <key>sourceSize</key>
                <string>{60,300}</string>
            </dict>
            <key>block304.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,255},{60,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,300}}</string>
                <key>sourceSize</key>
                <string>{60,300}</string>
            </dict>
            <key>block401.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>block.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1d1eff11cf467f70564b03d0303e44f$</string>
            <key>textureFileName</key>
            <string>block.png</string>
        </dict>
    </dict>
</plist>
