<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block101.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>block102.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,3},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>block103.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,3},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>block104.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,3},{240,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,60}}</string>
                <key>sourceSize</key>
                <string>{240,60}</string>
            </dict>
            <key>block105.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,3},{300,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,60}}</string>
                <key>sourceSize</key>
                <string>{300,60}</string>
            </dict>
            <key>block106.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,67},{360,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,60}}</string>
                <key>sourceSize</key>
                <string>{360,60}</string>
            </dict>
            <key>block107.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,67},{420,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,60}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>block108.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,131},{480,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,60}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>block109.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,195},{540,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,60}}</string>
                <key>sourceSize</key>
                <string>{540,60}</string>
            </dict>
            <key>block110.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,259},{600,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,60}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>block203.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,259},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,180}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>block205.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,259},{60,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,300}}</string>
                <key>sourceSize</key>
                <string>{60,300}</string>
            </dict>
            <key>block301.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,259},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>block401.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,259},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>block402.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,259},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>block501.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,563},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>block502.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,563},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>block503.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,563},{60,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,300}}</string>
                <key>sourceSize</key>
                <string>{60,300}</string>
            </dict>
            <key>block504.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,563},{60,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,300}}</string>
                <key>sourceSize</key>
                <string>{60,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>block.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6c2a1ebb6b04fc0abad881c319fd93$</string>
            <key>textureFileName</key>
            <string>block.png</string>
        </dict>
    </dict>
</plist>
