<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{60,48}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{60,48}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>enemy1_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,3},{60,44}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{60,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>enemy1_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,3},{64,40}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,64},{64,40}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>enemy2_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,55},{60,48}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{60,48}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>enemy2_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,55},{60,44}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{60,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>enemy2_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,55},{64,40}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,64},{64,40}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>enemy3_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{60,48}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{60,48}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>enemy3_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,107},{60,44}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{60,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>enemy3_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,107},{64,40}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,64},{64,40}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d31afe366573dc1c67f72ddca9a129f7$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
