<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,100}}</string>
                <key>sourceSize</key>
                <string>{1136,100}</string>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,3},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,3},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>coin1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,3},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>coin2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,3},{60,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>coin2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,3},{60,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>coin3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,3},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>coin3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,3},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>coin4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,3},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>coin4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,3},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>coin5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,3},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>coin5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,3},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_warning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,3},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fire_warning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,3},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{220,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,110}}</string>
                <key>sourceSize</key>
                <string>{220,110}</string>
            </dict>
            <key>rail1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,107},{640,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,18}}</string>
                <key>sourceSize</key>
                <string>{640,18}</string>
            </dict>
            <key>rail2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,107},{320,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,18}}</string>
                <key>sourceSize</key>
                <string>{320,18}</string>
            </dict>
            <key>red_belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,221},{1134,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1134,6}}</string>
                <key>sourceSize</key>
                <string>{1136,6}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,221},{10,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,180}}</string>
                <key>sourceSize</key>
                <string>{10,180}</string>
            </dict>
            <key>switch101_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,221},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>switch101_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,221},{20,60}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{20,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>switch102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,221},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>switch102_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,221},{60,20}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>trampoline1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,221},{106,28}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{106,28}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>trampoline1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,221},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameparts.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a650f9ed6138934e51983c5ac361f2fb$</string>
            <key>textureFileName</key>
            <string>gameparts.png</string>
        </dict>
    </dict>
</plist>
