<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{540,538}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{540,538}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,545},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1509},{432,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{432,70}}</string>
                <key>sourceSize</key>
                <string>{450,74}</string>
            </dict>
            <key>coin_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1509},{138,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,54}}</string>
                <key>sourceSize</key>
                <string>{138,54}</string>
            </dict>
            <key>coin_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1509},{178,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,40}}</string>
                <key>sourceSize</key>
                <string>{178,40}</string>
            </dict>
            <key>play_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1509},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>speed_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1583},{282,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,58}}</string>
                <key>sourceSize</key>
                <string>{282,58}</string>
            </dict>
            <key>stop_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1583},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64dae0bc21c0a93214a9398ef5891cc4$</string>
            <key>textureFileName</key>
            <string>hud.png</string>
        </dict>
    </dict>
</plist>
