<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1280,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,120}}</string>
                <key>sourceSize</key>
                <string>{1280,120}</string>
            </dict>
            <key>block1440.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,3},{1440,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,120}}</string>
                <key>sourceSize</key>
                <string>{1440,120}</string>
            </dict>
            <key>block240.png</key>
            <dict>
                <key>frame</key>
                <string>{{2731,3},{240,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>block2560.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,127},{2560,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2560,120}}</string>
                <key>sourceSize</key>
                <string>{2560,120}</string>
            </dict>
            <key>block360.png</key>
            <dict>
                <key>frame</key>
                <string>{{2567,127},{360,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,120}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land.png</string>
            <key>size</key>
            <string>{4096,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e951ef3c7ea6f10c213b1d4cbae890a7$</string>
            <key>textureFileName</key>
            <string>land.png</string>
        </dict>
    </dict>
</plist>
