<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,200}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>block2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,3},{320,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,200}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>block3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,3},{1920,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,200}}</string>
                <key>sourceSize</key>
                <string>{1920,200}</string>
            </dict>
            <key>block4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,207},{640,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>block5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,207},{2560,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2560,200}}</string>
                <key>sourceSize</key>
                <string>{2560,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land.png</string>
            <key>size</key>
            <string>{4096,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97e86389fabf250d0246f494caffed57$</string>
            <key>textureFileName</key>
            <string>land.png</string>
        </dict>
    </dict>
</plist>
