<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1001001_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>player1001001_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,3},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>player1001001_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,3},{75,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,90}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>player1001001_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,3},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>player2001001_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,3},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>player2001001_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,3},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>player2001001_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,97},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>player2001001_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,97},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>player2001001_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,97},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>player2001001_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,97},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>player2001002_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,97},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>player2001002_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,97},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>player2001002_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,97},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>player2001002_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,149},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>player2001002_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,149},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>player2001002_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,149},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>player2001003_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,149},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>player2001003_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,149},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>player2001003_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,149},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>player2001003_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,149},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>player2001003_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,201},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>player2001003_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,201},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>player2002001_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,201},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002001_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,201},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>player2002001_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,201},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002001_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,201},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002001_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,201},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>player2002001_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,283},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002002_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,283},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002002_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,283},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>player2002002_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,283},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002002_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,283},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002002_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,283},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>player2002002_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,283},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002003_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,365},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002003_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,365},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>player2002003_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,365},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002003_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,365},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2002003_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,365},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>player2002003_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,365},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>player2003001_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,365},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>player2003001_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,447},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>player2003001_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,447},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>player2003001_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,447},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>player2003001_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,447},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>player2003001_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,447},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>player2003002_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,447},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>player2003002_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,529},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>player2003002_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,529},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>player2003002_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,529},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>player2003002_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,529},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>player2003002_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,529},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>player2003003_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,529},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>player2003003_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,612},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>player2003003_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,612},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>player2003003_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,612},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>player2003003_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,612},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>player2003003_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,612},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77cccce5784b5c9963ef64aff1e7a455$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
