<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player2000001_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{82,90}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{82,90}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2001001_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,3},{60,44}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{60,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2001002_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,3},{60,44}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{60,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2001003_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,97},{60,44}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{60,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2002001_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,97},{66,76}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{66,76}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2002002_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,97},{66,76}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{66,76}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2002003_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,177},{66,76}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{66,76}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2003001_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,177},{88,76}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{88,76}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2003002_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,177},{88,76}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{88,76}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>player2003003_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,257},{88,80}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{88,80}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>team.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d52498328cbfd870af0f342ec2124d68$</string>
            <key>textureFileName</key>
            <string>team.png</string>
        </dict>
    </dict>
</plist>
